@bryntum:registry=https://npm.bryntum.com
//npm.bryntum.com/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJ0cmlhbCIsImNhbGVuZGFyIiwiZ2FudHQiLCJncmlkIiwic2NoZWR1bGVycHJvIiwidGFza2JvYXJkIl0sIm5hbWUiOiJzcnVqYWxrLi52Y29uc3RydWN0LmluIiwiZ3JvdXBzIjpbInRyaWFsIiwiY2FsZW5kYXIiLCJnYW50dCIsImdyaWQiLCJzY2hlZHVsZXJwcm8iLCJ0YXNrYm9hcmQiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiXSwiaWF0IjoxNjg0MzkyMTg1LCJuYmYiOjE2ODQzOTIxODUsImV4cCI6MjU0ODMwNTc4NX0.6sAcdxEd2aAPygUfp4FiRF9zM-b3S338Q1mWG4U3cs8
 
registry=https://dprconstruction.pkgs.visualstudio.com/2f6226a4-0619-4a34-a052-ed88f5be5433/_packaging/library/npm/registry/
                       
always-auth=true
 
legacy-peer-deps = true