@bryntum:registry=https://npm.bryntum.com
//npm.bryntum.com/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJ0cmlhbCIsImdhbnR0Il0sIm5hbWUiOiJkaW5lc2hrLi52Y29uc3RydWN0LmluIiwiZ3JvdXBzIjpbInRyaWFsIiwiZ2FudHQiLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiXSwiaWF0IjoxNzIyOTI1NDEwLCJuYmYiOjE3MjI5MjU0MTAsImV4cCI6MjU4NjgzOTAxMH0.ssOYVGshOxH1gduQSKsXNVONcGh7U8FEzdoLSe7-Fss